﻿@model VidPlace.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Form</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true, "Please correct the following errors:")
    @*@Html.ValidationSummary()*@

    <div class="form-group">
        @Html.LabelFor(c => c.Customer.Name)
        @Html.TextBoxFor(c => c.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Customer.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Customer.BirthDate)
        @Html.TextBoxFor(c => c.Customer.BirthDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Customer.BirthDate)
    </div>

    @*<div class="form-group">
            @Html.LabelFor(c => c.IsSubscribedToNewsLetter)
            @Html.CheckBoxFor(c => c.IsSubscribedToNewsLetter, new { @class = "form-control" })
        </div>*@

    <div class="form-group">
        @Html.LabelFor(c => c.Customer.MembershipTypeId)

        @Html.DropDownListFor(
                    c => c.Customer.MembershipTypeId,
                    new SelectList(Model.MembershipType, "Id", "Name"),
                    "Select Membership Type",
                    new { @class = "form-control" }
                )
        @Html.ValidationMessageFor(c => c.Customer.MembershipTypeId)
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(c => c.Customer.IsSubscribedToNewsLetter) Subscribed to News Letter
        </label>
    </div>

    @Html.HiddenFor(c => c.Customer.ID)
    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}