﻿@model VidPlace.Models.Customer
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Customer Record</h2>
<h4>Are you sure you want to delete this Customer Record?</h4>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(c => c.Name)
        </dt>
        <dd>
            @Html.DisplayFor(c => c.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(c => c.MembershipTypeId)
        </dt>
        <dd>
            @Html.DisplayFor(c => c.MembershipType.Name)
        </dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to Customers List", "Index", "Customers", null, new { @class = "btn btn-primary" })
    </div>
}

