﻿@model IEnumerable<VidPlace.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>There are no entries in the db</p>
}
else
{
    <p>@Html.ActionLink("Add New Customer", "New", "Customers", null, new { @class = "btn btn-default btn-block" })</p>

    <h4>List of Customers</h4>

    <br />

    using (Html.BeginForm("Index", "Customers", FormMethod.Get))
    {
        <p>
            Find Customer by Name: @Html.TextBox("searchString")
            <input type="submit" value="Search" class="btn btn-primary btn-sm" />
        </p>
    }

    <br />

    <table class="table table-bordered table-hover sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">Customer</th>
                <th>Membership Type</th>
                <th data-defaultsort="disabled">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @customer.Name
                    </td>

                    <td>
                        @customer.MembershipType.Name
                    </td>

                    <td>
                        @Html.ActionLink("Details", "Details", "Customers", new { id = customer.ID }, null) | @Html.ActionLink("Edit", "Edit", "Customers", new { id = customer.ID }, null) | @Html.ActionLink("Delete", "Delete", "Customers", new { id = customer.ID }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

