﻿@model VidPlace.Models.Media
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Media Record</h2>
<h4>Are you sure you want to delete this Media Record?</h4>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(m => m.Name)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.GenreId)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Genre.Name)
        </dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to Media List", "Index", "Medias", null, new { @class = "btn btn-primary" })
    </div>
}

