﻿@model VidPlace.Models.Media
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Genre: @Model.Genre.Name</li>
    <li>Media Type: @Model.MediaType.Name</li>
    <li>Release Date: @Model.ReleaseDate.Value.ToShortDateString()</li>
    <li>Date Added: @Model.DateAdded.Value.ToShortDateString()</li>
    <li>Number In Stock: @Model.NumberInStock</li>
</ul>

