﻿@model IEnumerable<VidPlace.Models.Media>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Medias</h2>

@if (!Model.Any())
{
    <p>There are no entries in the db</p>
    <p>@Html.ActionLink("New Media", "New", "Medias", null, new { @class = "btn btn-primary" })</p>
}
else
{

    <p>@Html.ActionLink("New Media", "New", "Medias", null, new { @class = "btn btn-default btn-block" })</p>

    <h4>List of Available Media</h4>

    <br />

    using (Html.BeginForm("Index", "Medias", FormMethod.Get))
    {
        <p>
            Find Customer by Name: @Html.TextBox("searchString")
            <input type="submit" value="Search" class="btn btn-primary btn-sm" />
        </p>
    }

    <br />

    <table class="table table-bordered table-hover sortable">
        <thead>
            <tr>
                <th colspan="2" data-defaultsort="asc">Medias</th>
                <th data-defaultsort="disabled">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var media in Model)
            {
                <tr>
                    <td>
                        @media.Name

                    </td>
                    <td>
                        @media.Genre.Name
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Medias", new { id = media.ID }, null) | @Html.ActionLink("Details", "Details", "Medias", new { id = media.ID }, null) | @Html.ActionLink("Delete", "Delete", "Medias", new { id = media.ID }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}