﻿@model VidPlace.ViewModels.MediaFormViewModel
@{
    ViewBag.Title = "MediaForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ActionSelected == 0)
{
    <h2>New Media</h2>
}
else
{
    <h2>Edit Media</h2>
}


@using (Html.BeginForm("Save", "Medias"))
{
    @Html.ValidationSummary(true, "Please correct the following errors:")
    <div class="form-group">
        @Html.LabelFor(m => m.Media.Name)
        @Html.TextBoxFor(m => m.Media.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Media.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Media.ReleaseDate)
        @Html.TextBoxFor(m => m.Media.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Media.ReleaseDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Media.MediaTypeId)

        @Html.DropDownListFor(
                    c => c.Media.MediaTypeId,
                    new SelectList(Model.MediaType, "Id", "Name"),
                    "Select Media Type",
                    new { @class = "form-control" }
                )
        @Html.ValidationMessageFor(m => m.Media.MediaTypeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Media.GenreId)

        @Html.DropDownListFor(
                    c => c.Media.GenreId,
                    new SelectList(Model.Genre, "Id", "Name"),
                    "Select Genre",
                    new { @class = "form-control" }
                )
        @Html.ValidationMessageFor(m => m.Media.GenreId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Media.NumberInStock)
        @Html.TextBoxFor(m => m.Media.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Media.NumberInStock)
    </div>

    @Html.HiddenFor(m => m.Media.ID)
    @Html.HiddenFor(m => m.Media.DateAdded)
    @Html.AntiForgeryToken();

    <button type="submit" class="btn btn-primary">Save</button>
}

@*@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}*@