﻿@model VidPlace.ViewModels.RentalMediaCustomerViewModel

@{
    ViewBag.Title = "Rentals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .popular {
        background-color: antiquewhite;
        color: black;
        padding: 10px;
    }
</style>

@{
    var className = Model.Customers.Count > 3 ? "popular" : null;
}

<h2 class="@className">@Model.Media.Name</h2>

@if (className != null)
{
    <p>Popular</p>
}

@if (Model.Customers.Count == 0)
{
    <p>This Media has not been rented.</p>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}

