﻿
@{
    ViewBag.Title = "AnswerConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Answer Confirmation</h2>

<h3>Hi! Your answer has been received</h3>
@Html.ActionLink("Answer another Survey", "Index", "Response")

