﻿@model SurveyOnline.ViewModels.AnswerFormViewModel
@{
    ViewBag.Title = "AnswerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>New Survey</h2>


@using (Html.BeginForm("Save", "Response"))
{
    @Html.ValidationSummary(true, "Please correct the following errors:")
    <div class="form-group">
        Survey Title: @Html.DisplayFor(s => s.Survey.Title)

    </div>

    <h4>Please answer the following survey question:</h4>

    <div class="form-group">
        @Html.DisplayFor(s => s.Survey.SurveyQuestion)
        @Html.TextBoxFor(r => r.Response.SurveyAnswer, new { @class = "form-control" })
        @Html.ValidationMessageFor(r => r.Response.SurveyAnswer)
    </div>

    <h4>Responder Information: </h4>

    <div class="form-group">
        @Html.LabelFor(r => r.Response.ResponderName)
        @Html.TextBoxFor(r => r.Response.ResponderName, new { @class = "form-control" })
        @Html.ValidationMessageFor(r => r.Response.ResponderName)
    </div>

    <div class="form-group">
        @Html.LabelFor(r => r.Response.Email)
        @Html.TextBoxFor(r => r.Response.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(r => r.Response.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(r => r.Response.ConfirmEmail)
        @Html.TextBoxFor(r => r.Response.ConfirmEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(r => r.Response.ConfirmEmail)
    </div>

    <div class="form-group">
        @Html.LabelFor(r => r.Response.Phone)
        @Html.TextBoxFor(r => r.Response.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(r => r.Response.Phone)
    </div>

    @Html.HiddenFor(r => r.Response.SurveyId)
    @Html.HiddenFor(r => r.Response.Id)
    @Html.AntiForgeryToken();

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="#" onclick="history.go(-1); return true;" class="btn btn-primary">Back to List</a>
}

@*@section scripts
    {
        @Scripts.Render("~/bundles/jqueryval");
    }*@