﻿@model IEnumerable<SurveyOnline.Models.Survey>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Answer Surveys</h2>

@if (!Model.Any())
{
    <p>There are no entries in the db</p>

}
else
{


    <h4>List of Available Surveys to answer</h4>

    <br />

    using (Html.BeginForm("Index", "Response", FormMethod.Get))
    {
        <p>
            Find Customer by Name: @Html.TextBox("searchString")
            <input type="submit" value="Search" class="btn btn-primary btn-sm" />
        </p>
    }

    <table class="table table-bordered table-hover sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">Surveys</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var survey in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(survey.Title, "Answer", "Response", new { id = survey.Id }, null)
                    </td>

                </tr>
            }
        </tbody>
    </table>
}