﻿@model Phono__Assignment_3_.ViewModels.AvailablePhonesViewModel

@{
    ViewBag.Title = "Phones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Brand.BrandName</h2>

@if (!Model.Phones.Any())
{
    <p>There are no phones from this brand</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>All available phones of the brand</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var phones in Model.Phones)
            {
                <tr>
                    <td>
                        @Html.ActionLink(phones.PhoneName, "Details", "Phone", new { id = phones.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

