﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="VideoRentalStore__Assignment1_.Home" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
    <asp:ImageButton ID="ibNewCustomer" runat="server" Height="307px" ImageAlign="Left" ImageUrl="~/Images/customer.png" PostBackUrl="~/NewCustomer.aspx" Width="355px" />
<asp:ImageButton ID="ibNewMedia" runat="server" CssClass="auto-style1" Height="297px" ImageAlign="Right" ImageUrl="~/Images/media.png" PostBackUrl="~/NewMedia.aspx" Width="356px" />
</asp:Content>
