﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="4 - SessionStateTwo.aspx.cs" Inherits="WebPageLifeCycle._4___SessionStateTwo" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
        <asp:Label ID="lblVisits" runat="server"></asp:Label>
    </form>
</body>
</html>
