﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="6 - ApplicationEvents.aspx.cs" Inherits="WebPageLifeCycle._6___ApplicationEvents" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            TEST PAGE</div>
    </form>
</body>
</html>
