﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UIFooter.ascx.cs" Inherits="UserInformation.UserControls.UIFooter" %>
<style type="text/css">
    .auto-style1 {
        text-align: center;
    }
</style>

<h1 class="auto-style1">
    <asp:Label ID="Label1" runat="server"></asp:Label>
</h1>

