﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UIHeader.ascx.cs" Inherits="UserInformation.UserControls.UIHeader" %>
<style type="text/css">
    .auto-style1 {
        text-align: center;
    }
</style>

<h1 class="auto-style1">£&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pound Company</h1>

