﻿@model Phono__Assignment_4_.ViewModels.BrandFormViewModel
@{
    ViewBag.Title = "BrandForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ActionSelected == 0)
{
    <h2>Add Brand</h2>
}
else
{
    <h2>Edit Brand</h2>
}



@using (Html.BeginForm("Save", "Brands"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Brand.BrandName)
        @Html.TextBoxFor(m => m.Brand.BrandName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Brand.BrandName, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Brand.CountryOfOrigin)
        @Html.TextBoxFor(m => m.Brand.CountryOfOrigin, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Brand.CountryOfOrigin, "", new { @class = "text-danger" })

    </div>

    @Html.HiddenFor(m => m.Brand.Id)
    @Html.AntiForgeryToken();

    <button type="submit" class="btn btn-primary">Save</button>
}

@*@section scripts
    {
        @Scripts.Render("~/bundles/jqueryval");
    }*@