﻿@model Phono__Assignment_4_.Models.Brand
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Record</h2>
<h4>Are you sure you want to delete this Record?</h4>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(b => b.BrandName)
        </dt>
        <dd>
            @Html.DisplayFor(b => b.BrandName)
        </dd>
        <dt>@Html.DisplayNameFor(b => b.CountryOfOrigin)
        </dt>
        <dd>
            @Html.DisplayFor(b => b.CountryOfOrigin)
        </dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to List", "Index", "Brands", null, new { @class = "btn btn-primary" })
    </div>
}

