﻿@model Phono__Assignment_4_.Models.Brand
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.BrandName</h2>

<ul>
    <li>Name: @Model.BrandName</li>
    <li>Country: @Model.CountryOfOrigin</li>
</ul>