﻿@model IEnumerable<Phono__Assignment_4_.Models.Brand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Availables Brands</h2>

@if (!Model.Any())
{
    <p>There are no entries in the db</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var brand in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink(brand.BrandName, "AvailablePhones", "Brands", new { id = brand.Id }, null)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", "Brands", new { id = brand.Id }, null)
                    @*@if (Request.IsAuthenticated)
                    {*@
                        <span> | </span>
                        @Html.ActionLink("Edit", "Edit", "Brands", new { id = brand.Id }, null)
                        <span> | </span>
                        @Html.ActionLink("Delete", "Delete", "Brands", new { id = brand.Id }, null)
                    @*}*@
                </td>
            </tr>
            }
        </tbody>
    </table>
}

