﻿@model SurveyOnline.Models.Survey
@{
                /**/

                ViewBag.Title = "Delete";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Record</h2>
<h4>Are you sure you want to delete this Record?</h4>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(m => m.Title)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.CategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Category.Topic)
        </dd>
    </dl>
</div>

@using (Html.BeginForm())
{
<div class="form-group">
    @Html.AntiForgeryToken()
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    @Html.ActionLink("Back to List", "Index", "Survey", null, new { @class = "btn btn-primary" })
</div>
}

