﻿@model SurveyOnline.Models.Survey
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

<ul>
    <li>Survey Question: @Model.SurveyQuestion</li>
    <li>Categorie: @Model.Category.Topic</li>
    @if (Model.DealineDate != null)
    {
        <li>Deadline Date: @Model.DealineDate.Value.ToShortDateString() </li>
    }
    <li>Minimum Responses: @Model.MinimumResponses </li>
</ul>

