﻿@model IEnumerable<SurveyOnline.Models.Survey>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Surveys</h2>

@if (!Model.Any())
{
    <p>There are no entries in the db</p>
    <p>@Html.ActionLink("New Surver", "New", "Survey", null, new { @class = "btn btn-default btn-block" })</p>
}
else
{
    <p>@Html.ActionLink("New Survey", "New", "Survey", null, new { @class = "btn btn-default btn-block" })</p>

    <h4>List of Available Surveys</h4>

    <br />

    <table class="table table-bordered table-hover sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">Surveys</th>
                <th data-defaultsort="disabled">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var survey in Model)
            {
                <tr>
                    <td>
                        @survey.Title

                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", "Survey", new { id = survey.Id }, null) | @Html.ActionLink("Details", "Details", "Survey", new { id = survey.Id }, null) | @Html.ActionLink("Delete", "Delete", "Survey", new { id = survey.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}