﻿@model SurveyOnline.ViewModels.SurveyFormViewModel
@{
    ViewBag.Title = "MediaForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>New Survey</h2>


@using (Html.BeginForm("Save", "Survey"))
{
    @Html.ValidationSummary(true, "Please correct the following errors:")
    <div class="form-group">
        @Html.LabelFor(s => s.Survey.Title)
        @Html.TextBoxFor(s => s.Survey.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Survey.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(s => s.Survey.SurveyQuestion)
        @Html.TextBoxFor(s => s.Survey.SurveyQuestion, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Survey.SurveyQuestion)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Survey.CategoryId)

        @Html.DropDownListFor(
                    m => m.Survey.CategoryId,
                    new SelectList(Model.Categories, "Id", "Topic"),
                    "Select Category",
                    new { @class = "form-control" }
                )
        @Html.ValidationMessageFor(m => m.Survey.CategoryId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Survey.DealineDate)
        @Html.TextBoxFor(m => m.Survey.DealineDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Survey.DealineDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(s => s.Survey.MinimumResponses)
        @Html.TextBoxFor(s => s.Survey.MinimumResponses, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Survey.MinimumResponses)
    </div>

    @Html.HiddenFor(m => m.Survey.Id)
    @Html.AntiForgeryToken();

    <button type="submit" class="btn btn-primary">Save</button>
}

@*@section scripts
    {
        @Scripts.Render("~/bundles/jqueryval");
    }*@