﻿@model VidPlace.ViewModels.RentalConfirmationViewModel
@{
    ViewBag.Title = "RentalConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rental Details</h2>
<hr />

<h3>
    <dl>
        <dt>
            Customer's Name
        </dt>
        <dd>
            @Model.Customer.Name
        </dd>
    </dl>
</h3>

<hr />

<h3>
    <dl>
        <dt>
            Rented Media
        </dt>
        <dd>
            @Model.Media.Name
        </dd>
    </dl>
</h3>

<a href="#" onclick="history.go(-1); return true;">Select a different Media</a>

<hr />

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.HiddenFor(c => c.Customer.ID)
        @Html.HiddenFor(m => m.Media.ID)
        <button type="submit" class="btn btn-primary btn-block">Rent Now</button> 
    </div>
}

