﻿@model IEnumerable<VidPlace.Models.Rental>
@{
    ViewBag.Title = "RentalList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rental List</h2>
@if (!Model.Any())
{
    <p>There are no rental records.</p>
}
else
{
    <h3>List of Rentals</h3>
    <table class="table table-bordered table-hover sortable">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Media</th>
                <th>Rent Date</th>
                <th>Return Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rental in Model)
            {
                <tr>
                    <td>@rental.Customer.Name</td>
                    <td>@rental.Media.Name</td>
                    <td>@rental.RentDate.ToShortDateString()</td>
                    @if (rental.ReturnDate.HasValue)
                    {
                        <td>@rental.ReturnDate.Value.ToShortDateString()</td>
                    }
                    else
                    {
                        <td>NOT RETURNED</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

