﻿@model VidPlace.ViewModels.RentalsSelectMediaViewModel

@{
    ViewBag.Title = "SelectMedia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    <dl>
        <dt>Customer's Name</dt>
        <dd>@Model.Customer.Name</dd>
    </dl>
</h2>
@Html.ActionLink("Select a different Customer", "SelectCustomer", "Rentals")
<hr />

<h2>Search for Medias</h2>
@using (Html.BeginForm("SelectMedia", "Rentals", FormMethod.Get))
{
    <p>
        Find Media by Name: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}

@if (Model.SearchMedias.Any())
{
    <hr />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Select a Media</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var media in Model.SearchMedias)
            {
                <tr>
                    <td>@Html.ActionLink(media.Name, "RentalConfirmation", "Rentals", new { id = Model.Customer.ID, mediaId = media.ID }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}
