﻿@model IEnumerable<VidPlace.Models.Customer>
@{
    ViewBag.Title = "SelectCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search for Customers</h2>
@using (Html.BeginForm("SelectCustomer", "Rentals", FormMethod.Get))
{
    <p>
        Find Customer by Name: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}

@if (Model.Any())
{
    <hr />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Select a Customer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "SelectMedia" ,"Rentals" , new { id = customer.ID }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}