﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ICHeader.ascx.cs" Inherits="InvestmentCalculator.UserControls.ICHeader" %>
<style type="text/css">
    .auto-style1 {
        width: 132px;
        height: 111px;
    }
    .auto-style2 {
        width: 100%;
    }
    .auto-style4 {
        height: 40px;
        text-align: center;
    }
</style>

<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <table class="auto-style2">
        <tr>
            <td class="auto-style4">
                <img alt="Calculator image" class="auto-style1" src="../Images/calc.jpg" /></td>
            <td class="auto-style4">Accounting Corp.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
            <td class="auto-style4">
                <asp:Label ID="Label1" runat="server"></asp:Label>
            </td>
        </tr>
    </table>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h1>

