﻿@{
    ViewBag.Title = "Home Page";
}

<img class="jumbotron-image" src="~/Images/jumbotron.jpg" />

<div class="row">
    <div class="col-md-6">
        <h2>Mobile Phones</h2>
        <p>
            Find out more about variety of our mobile phones
        </p>
        <img src="~/Images/mobiles.jpg" />
        <br /><br />
        <p><a class="btn btn-default" href="~/Phone/Index">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h2>Brands</h2>
        <p>Find out all about all the brands presented in our shop</p>
        <img src="~/Images/brands.png" />
        <br /><br />
        <p><a class="btn btn-default" href="~/Brands/Index">Learn more &raquo;</a></p>
    </div>
</div>