﻿@model VidPlace.Models.Customer
@{
    ViewBag.Title = "helloCustomer2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Information</h2>

<h3>Customer ID:    @Model.ID</h3>
<h3>Customer Name:  @Model.Name</h3>

