﻿@using VidPlace.Models
@{
    ViewBag.Title = "helloCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is the customer information</h2>

<h3>ID: @( ((Customer) ViewBag.customer).ID )</h3>
<h3>Name: @( ((Customer) ViewBag.customer).Name )</h3>

