﻿@model Phono__Assignment_4_.ViewModels.PhoneFormViewModel
@{
    ViewBag.Title = "PhoneForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ActionSelected == 0)
{
    <h2>Add Phone</h2>
}
else
{
    <h2>Edit Phone</h2>
}



@using (Html.BeginForm("Save", "Phone"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Phone.PhoneName)
        @Html.TextBoxFor(m => m.Phone.PhoneName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Phone.PhoneName, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Phone.BrandId)

        @Html.DropDownListFor(
                    c => c.Phone.BrandId,
                    new SelectList(Model.Brands, "Id", "BrandName"),
                    "Select Brands",
                    new { @class = "form-control" }
                )
        @Html.ValidationMessageFor(m => m.Phone.BrandId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Phone.DateReleased)
        @Html.TextBoxFor(m => m.Phone.DateReleased, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Phone.ScreenSize)
        @Html.TextBoxFor(m => m.Phone.ScreenSize, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Phone.ScreenSize, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Phone.PhoneTypeId)

        @Html.DropDownListFor(
                    c => c.Phone.PhoneTypeId,
                    new SelectList(Model.PhoneTypes, "Id", "FullType"),
                    "Select Phone Types",
                    new { @class = "form-control" }
                )
        @Html.ValidationMessageFor(m => m.Phone.PhoneTypeId, "", new { @class = "text-danger" })
    </div>

    @Html.HiddenFor(m => m.Phone.Id)
    @Html.AntiForgeryToken();

    <button type="submit" class="btn btn-primary">Save</button>
}

@*@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}*@