﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MySite.master.cs" Inherits="InvestmentCalculator.MySite" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <%--Header--%>
    <div style="float: left; width: 50%; text-align: left; font-size: 18pt; font-weight: bold; color: cornflowerblue">
        My ASP dotNET app
    </div>

    <div style="float: right; width: 47%; text-align: right;">
        <asp:Label ID="lblDate" runat="server" Font-Bold="True" ForeColor="#CC0000"></asp:Label>
    </div>

    <br />

    <%--Main Body--%>
    <form id="form1" runat="server">
        
        <div>
            <asp:Menu ID="Menu1" runat="server" BackColor="#B5C7DE" DynamicHorizontalOffset="2" Font-Names="Verdana" Font-Size="0.8em" ForeColor="#284E98" StaticSubMenuIndent="10px">
            <DynamicHoverStyle BackColor="#284E98" ForeColor="White" />
            <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
            <DynamicMenuStyle BackColor="#B5C7DE" />
            <DynamicSelectedStyle BackColor="#507CD1" />
            <Items>
                <asp:MenuItem Text="Home" Value="Home" NavigateUrl="~/Home.aspx"></asp:MenuItem>
                <asp:MenuItem Text="Google" Value="Google" NavigateUrl="http://google.com"></asp:MenuItem>
            </Items>
            <StaticHoverStyle BackColor="#284E98" ForeColor="White" />
            <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
            <StaticSelectedStyle BackColor="#507CD1" />
        </asp:Menu>
            <br />

            <asp:ContentPlaceHolder ID="mainContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
    <br />
    <%--Footer--%>
    &copy; 2018 | Contact Info: +1(800) 888 8888
</body>
</html>
