﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MySite.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="UserInformation.Home" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script src="Scripts/JavaScript.js"></script>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
    <p>
        &nbsp;</p>
    <p>
        <strong>This is my ASP .NET Home Page.</strong></p>
<p>
    &nbsp;</p>
<p>
    <strong>Hello World!</strong></p>
</asp:Content>
