﻿@model Phono__Assignment_3_.Models.Phone
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.PhoneName</h2>

<ul>
    <li>Brand: @Model.Brand.BrandName, @Model.Brand.CountryOfOrigin</li>
    <li>Date Released: @Model.DateReleased.Value.ToShortDateString()</li>
    <li>OS: @Model.PhoneType.OS</li>
    <li>Type: @Model.PhoneType.Type</li>
    <li>Screen Size: @Model.ScreenSize</li>
</ul>