﻿@model IEnumerable<Phono__Assignment_3_.Models.Phone>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Phones</h2>

@if (!Model.Any())
{
    <p>There are no entries in the db</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Phone</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var phone in Model)
            {
                <tr>
                    <td>
                        @phone.PhoneName
                    </td>

                    <td>
                        @Html.ActionLink("Details", "Details", "Phone", new { id = phone.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

